<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <!-- <%- include ("../partials/nav.ejs") %> -->

<div class="jumbotron text-center">

  <div class="container">
    <h1>Welcome to my super super simple Node.js App</h1>
      <p>Testing something out </p>
  </div>
  
</div>

<div class="text-center">
  <button class="hk-button--primary"><a href="https://github.com/dboston528/heroku-node" target="_blank" style="none">Source Code</a></button>
</div>



</body>
</html>
   
